
<div class="signin-container">
  <div class="signin-body-container">
  <div class="logo">
    <img src="../../assets/GALLIKA1.png" alt="" />
  </div>
       <h1>Inscrivez-vous ou connectez-vous</h1>
       <label for="mail">Adresse e-mail</label>
       <input class="form-control" type="text" id="mail" placeholder="par ex. tdupont@example.fr">
       <p class="para">En continuant, vous acceptez nos <a routerLink="#">Conditions Générales</a>  et notre <a routerLink="#"> Politique de Confidentialité.</a> Nous utilisons vos données personnelles pour vous offrir une expérience personnalisée, ainsi que pour mieux comprendre et améliorer notre service. Pour plus de détails <a routerLink="#"> cliquez ici</a>.</p>
       <a class="btn-primary" routerLink="/signin">Continuer</a>
       <p class="divider"> <img src="../../assets/Divider.png" alt=""/> ou <img src="../../assets/Divider.png" alt=""/> </p>
       <a class="fb-btn" routerLink="/facebook.com">
         <img src="../../assets/fb.svg" alt=""/>
         Continue with Facebook
       </a>
       <a class="cancel-btn" routerLink="/cancel">
         Annuler
       </a>
  </div>

</div>
