.signin-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.signin-container .signin-body-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.7);
  box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.7);

}
.forgot{
margin-top: 2%;
width: 144px;
height: 21px;
left: 128px;
top: 628px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: right;
letter-spacing: -0.03em;
text-decoration-line: underline;
color: #6E6E70;
}
.signin-body-container label {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 21px;
letter-spacing: -0.03em;
color: #6E6E70;
letter-spacing: -0.03em;
display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 2%;
width: 100%;
}
.form-control{
box-sizing: border-box;
font-size: 1rem;
font-weight: 500;
width: 100%;
height: 54px;
padding: 1rem;
border: 0.5px solid #b3b3b8;
border-radius: 10px;
margin-bottom: 5%;
}
.para  a{
text-decoration: none;
font-weight: 600;
color:#00538A;
}
.para{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: .7rem;
line-height: 12px;
color: #6E6E70;
margin-bottom: 5%;

}

.btn-primary{
color:#FFF;
width: 100%;
height: 54px;
background: #00538A;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.03em;
}
.btn-primary:hover{
background: #01395e;

}
.fb-btn{
color:#FFF;
width: 100%;
height: 54px;
background: #1877F2;
border-radius: 10px;
display: flex;
justify-content: center;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}
.fb-btn:hover{
background: #1362c9;
}
.fb-btn img{
  margin:2%;
}
.cancel-btn{
margin-top: 5%;
width: 59px;
height: 23px;
left: 161px;
top: 751px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
text-decoration: none;
letter-spacing: -0.03em;
color: #6E6E70;
}
.divider{
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
color: #6E6E70;
}
.divider img {
  margin: 3%;
}
.show{
  color:gray;
  position: relative;
  top:35px;
  left:185px;
}
.show-flag{
  position: relative;
  top:43px;
  left:-200px;
}

@media screen and (max-width:2560px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 20%;
  }
}
@media screen and (max-width:1440px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 35%;
  }
}
@media screen and (max-width:1024px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 45%;
  }
}
@media screen and (max-width:768px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 50%;
  }
  .signin-body-container h1{
    font-size: 1.3rem;
  }
}
@media screen and (max-width:425px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 70%;
    box-shadow: none;

  }
  .signin-body-container h1{
    font-size: 1.3rem;
  }
}

@media screen and (max-width:375px) {
  .signin-container .signin-body-container{
    margin-top: 5%;
    width: 90%;
    box-shadow: none;

  }
  .signin-body-container h1{
    font-size: 1.3rem;
  }
}





