
<div class="signin-container">
  <div class="signin-body-container">
  <div class="logo">
    <img src="../../assets/GALLIKA1.png" alt="" />
  </div>
       <h1>Inscription  </h1>
       <label for="mail">Adresse e-mail</label>
       <input class="form-control" type="text" id="mail" placeholder="tdupont@example.fr">
       <label for="mail">Prénom</label>
       <input class="form-control" type="text" id="mail" placeholder="par ex. Thierry">
       <label for="mail">Nom</label>
       <input class="form-control" type="text" id="mail" placeholder="tdupont@example.fr">
       <label for="mail">Téléphone</label>
       <input class="form-control" type="text" id="mail" placeholder="par ex. Dupont">
       <label for="mail">Adresse e-mail</label>
       <a  href="#">
         <img  class="show-flag"  src="../../assets/fr.png" alt=""/>
      </a>
       <input class="form-control" type="text" id="mail" placeholder="        (+33) 1 23 45 67 89">
       <label for="mail">Mot de passe</label>
       <a class="show" href="#">Afficher</a>
       <input class="form-control" type="text" id="mail" placeholder="****************">
       <a class="btn-primary" routerLink="/signin">Accepter et continuer</a>

       <a class="cancel-btn" routerLink="/cancel">
         Annuler
       </a>
  </div>

</div>
