
<div class="signin-container">
  <div class="signin-body-container">
  <div class="logo">
    <img src="../../assets/GALLIKA1.png" alt="" />
  </div>
       <h1>Connexion</h1>
       <label for="mail">Adresse e-mail</label>
       <input class="form-control" type="text" id="mail" placeholder="tdupont@example.fr">
       <label for="mail">Mot de passe</label>
       <a class="show" href="#">Afficher</a>
       <input class="form-control" type="text" id="mail" placeholder="*****************">
       <a class="btn-primary" routerLink="/signin">Se connecter</a>
      <a class="forgot" routerLink="forgotPassword">Mot de passe oublié ?</a>
       <a class="cancel-btn" routerLink="/cancel">
         Annuler
       </a>
  </div>

</div>
